nav {
    display: flex;
    background-color: lavender;
}
        
.shortcut {
    display: flex;
    color: black;
    gap: 12px;
    font-size: 24px;
    font-weight: 800;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    text-decoration: none;
    list-style: none;
}

.shortcut a:hover {
    background-color: rgb(176, 176, 194);
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background-color: lightsalmon;
    color: purple;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: gray;
    padding: 5px;
}
footer p {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}